{% extends "todos/base.html" %}

{% block content %}
<div id="todoapp">
	<h1>TO DO LIST</h1>

	<input type="text" id="newItem" placeholder="Type and press enter to add a new item." />

	<ul id="todoList"></ul>
</div>

<div id="footer">
	<p>Created by <a href="http://tomcoote.co.uk">Tom Coote</a></p>
</div>
{% endblock %}

{% block js-templates %}
<script id="itemView" type="text/html">
<li id="todo">
	<input type="checkbox" class="doneChk" />
	<span class="description"></span>
	<span class="delete"></span>
	<input type="text" class="edit" title="press enter to save" />
</li>
</script>
{% endblock %}